*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.text {
  overflow: hidden;
}

.container-sec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.effect-2 {
  overflow: hidden;
  height: 24px;
}
.effect-3 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.effect-3 ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #000;
  font-weight: 700;
}
